* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f3f3f3;
}

.logo {
  font-weight: 500;
  color: #444;
}

.logo__div {
  display: flex;
  align-items: center;
}

.logo__div svg {
  font-size: 2.5rem;
}
.navbar {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 120rem;
  padding: 3rem 0;
  position: sticky;
}

.links__div {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

a,
a:active,
a:visited {
  color: #444;
  text-decoration: none;
}

.active__link {
  border-bottom: 1px solid #b05ec4;
}

.cart__div {
  display: flex;
  align-items: center;
}

.cart__div div {
  display: flex;
  align-items: center;
  color: #444;
}

.cart__div div svg {
  font-size: 2.5rem;
  color: #444;
}

.cart__counter {
  background: #b05ec4;
  color: #fff;
  font-size: 1.2rem;
  margin-left: -1rem;
  padding: 0 5px;
  vertical-align: top;
  border-radius: 0.9rem;
}

.home__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 120rem;
  padding-top: 5.2rem;
  background-color: #f3f3f3;
}

.home__section__text {
  margin-top: 6.2rem;
}

.home__section__right {
  display: flex;
  justify-content: flex-end;
}

.home__section__img {
  border-radius: 0.25rem;
  width: 82%;
}

.home__learn__btn {
  background-color: #fff;
}

.heading__primary {
  font-size: 4.8rem;
  margin-bottom: 2rem;
  color: #444;
  line-height: 1.4;
}

.home__paragraph {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.9;
  margin-bottom: 2.2rem;
  color: #444;
}

.home__section__btns {
  display: flex;
  gap: 1.2rem;
}

.btn {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
  color: #444;
}

.home__explore__btn,
.home__explore__btn:active,
.home__explore__btn:visited {
  background-color: #b05ec4;
  color: #fff;
}

.featured__in__section {
  background-color: #f1f3f5;
  padding: 15rem 0;
  margin: 0 auto;
  width: 75%;
}

.featured__in__heading {
  color: #888;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  margin-bottom: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-filter: brightness(0);
  filter: brightness(0);
  height: 3rem;
  opacity: 50%;
}

.featured__in__logos {
  display: flex;
  justify-content: space-around;
}

.featured__in__logo {
  -webkit-filter: brightness(0);
  filter: brightness(0);
  height: 3rem;
  opacity: 50%;
}

.section__heading1 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 1rem;
  text-align: center;
  text-align: start;
  text-transform: uppercase;
  color: #b05ec4;
}

.section__heading2 {
  font-size: 3.7rem;
  font-weight: 500;
  line-height: 1.4;
  color: #444;
}

.section {
  border-top: 1px solid #dee2e6;
}

.section__main {
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  padding: 15rem 0;
  margin: 0 auto;
  max-width: 120rem;
}

.section__container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 4.6rem;
  margin-top: 9.6rem;
}

.featured__product__img {
  border-radius: 0.25rem;
  display: block;
  margin-bottom: 0.6rem;
  object-fit: cover;
  width: 100%;
}

.featured__product__name {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 0.75rem;
  padding-top: 1rem;
  color: #444;
}

.featured__product__price {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 0.75rem;
  padding-top: 1rem;
  color: #b05ec4;
}

.featured__product__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all__products__btn,
.all__products__btn:active,
.all__products__btn:visited {
  background-color: #b05ec4;
  color: #fff;
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.creed__icon__div {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  height: 4.8rem;
  margin-bottom: 1.6rem;
  width: 4.8rem;
  border-radius: 50%;
  background-color: #e7cfed;
}

.creed__icon__span {
  align-items: center;
  color: #b05ec4;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.creed__article__heading {
  font-size: 1.8rem;
  color: #444;
}

.creed__article__p {
  font-size: 1.5rem;
  line-height: 1.9;
  color: #444;
}
