* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f3f3f3;
}

.logo {
  font-weight: 500;
  color: #444;
}

.logo__div {
  display: flex;
  align-items: center;
}

.logo__div svg {
  font-size: 2.5rem;
}

.header__sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0;
  background-color: #fff;
  opacity: 0.9;
}

.inner__header {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 120rem;
  justify-content: space-between;
}

.main__nav {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  padding: 3rem 0;
  justify-content: space-between;
  width: 55%;
  max-width: 120rem;
}

.x__icon,
.sidebar__btn {
  width: 2.5rem;
  height: 2.5rem;
  display: none;
  color: #444;
  cursor: pointer;
}

.links__div {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

a,
a:active,
a:visited {
  color: #444;
  text-decoration: none;
}

.cart__div {
  display: flex;
  align-items: center;
}

.cart__div div {
  display: flex;
  align-items: center;
  color: #444;
}

.cart__div div svg {
  font-size: 2.5rem;
  color: #444;
}

.cart__counter {
  background: #b05ec4;
  color: #fff;
  font-size: 1.2rem;
  margin-left: -1rem;
  padding: 0 5px;
  vertical-align: top;
  border-radius: 0.9rem;
}

.home__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 120rem;
  padding-top: 5.2rem;
  background-color: #f3f3f3;
}

.home__section__text {
  margin-top: 6.2rem;
}

.home__section__right {
  display: flex;
  justify-content: flex-end;
}

.home__section__img {
  border-radius: 0.25rem;
  width: 82%;
}

.home__learn__btn {
  background-color: #fff;
}

.heading__primary {
  font-size: 4.8rem;
  margin-bottom: 2rem;
  color: #444;
  line-height: 1.4;
}

.home__paragraph {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.9;
  margin-bottom: 2.2rem;
  color: #444;
}

.home__section__btns {
  display: flex;
  gap: 1.2rem;
}

.btn {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
  color: #444;
}

.btn:hover {
  background-color: #c6c6c6;
  transition: all 0.3s;
}
.home__explore__btn,
.home__explore__btn:active,
.home__explore__btn:visited {
  background-color: #b05ec4;
  color: #fff;
}

.featured__in__section {
  background-color: #f1f3f5;
  padding: 15rem 0;
  margin: 0 auto;
  width: 75%;
}

.featured__in__heading {
  color: #888;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  margin-bottom: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-filter: brightness(0);
  filter: brightness(0);
  height: 3rem;
  opacity: 50%;
}

.featured__in__logos {
  display: flex;
  justify-content: space-around;
}

.featured__in__logo {
  -webkit-filter: brightness(0);
  filter: brightness(0);
  height: 3rem;
  opacity: 50%;
}

.section__heading1 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 1rem;
  text-align: center;
  text-align: start;
  text-transform: uppercase;
  color: #b05ec4;
}

.section__heading2 {
  font-size: 3.7rem;
  font-weight: 500;
  line-height: 1.4;
  color: #444;
}

.section {
  border-top: 1px solid #dee2e6;
  opacity: 1;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.section__animate {
  transform: translateY(20rem);
  opacity: 0;
}

.section__main {
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  padding: 15rem 0;
  margin: 0 auto;
  max-width: 120rem;
}

.section__container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 4.6rem;
  margin-top: 9.6rem;
}

.featured__products__card {
  transition: 1s ease;
}

.featured__products__card:hover {
  transform: translateY(-1rem);
  transition: 1s ease;
}

.featured__product__img {
  border-radius: 0.25rem;
  display: block;
  margin-bottom: 0.6rem;
  object-fit: cover;
  width: 100%;
}

.featured__product__name {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 0.75rem;
  padding-top: 1rem;
  color: #444;
}

.featured__product__price {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 0.75rem;
  padding-top: 1rem;
  color: #b05ec4;
}

.featured__product__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all__products__btn,
.all__products__btn:active,
.all__products__btn:visited {
  background-color: #b05ec4;
  color: #fff;
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.creed__icon__div,
.operation__icon__div {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  height: 4.8rem;

  width: 4.8rem;
  border-radius: 50%;
  background-color: #e7cfed;
}

.creed__icon__span,
.operation__icon__span {
  align-items: center;
  color: #b05ec4;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.creed__article__heading {
  font-size: 1.8rem;
  color: #444;
  margin-top: 1.8rem;
}

.creed__article__p {
  font-size: 1.5rem;
  line-height: 1.9;
  color: #444;
}

.operation__container {
  padding: 7rem 5rem;
}

.operations__main {
  max-width: 90rem;
  margin: 0 auto;
}

.operations__btns {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-top: 9.6rem;
}

.operations__btn {
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  transition: all 0.5s;
  color: #444;
  background-color: #fff;
}
.active__btn {
  background-color: #b05ec4;
  color: #fff;
  transition: 0.5s;
}

.operations__btn:hover {
  transform: scale(1.1);
  transform: all 0.5s;
}

.operation__title__div {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: 7rem 1fr;
  padding: 4.5rem 7rem 0;
  row-gap: 0.5rem;
}

.operation__title {
  color: #444;
  font-size: 2rem;
  align-self: center;
}

.operation__p {
  color: #666;
  font-size: 1.8rem;
  grid-column: 2 / -1;
  line-height: 1.9;
}

.testimonials__main {
  padding-bottom: 0;
  max-width: 90rem;
}

.testimonials__section {
  padding-bottom: 15rem;
}

.slider {
  align-items: center;
  display: flex;
  height: 50rem;
  justify-content: center;
  position: absolute;
  top: 0;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  width: 100%;
}

.reviews__container {
  height: 50rem;
  overflow: hidden;
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
}

.review__author__img {
  border-radius: 50%;
  box-shadow: 0 0 0 4px hsla(0, 0%, 100%, 0.7);
  height: 5.2rem;
  width: 5.2rem;
  object-fit: cover;
}

.review__article {
  width: 75%;
}

.review__title {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.9;
  color: #444;
}

.review__text {
  font-size: 1.7rem;
  margin-bottom: 3rem;
  color: #444;
}

.review__author__name {
  font-size: 1.7rem;
  font-weight: 500;
  color: #444;
}

.review__author__origin {
  color: #666;
  font-size: 1.5rem;
}

.arrow {
  background-color: white;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 2rem;
}

.arrow__left {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.arrow__right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
}

.arrow:hover {
  cursor: pointer;
}

.timer__div__outside {
  width: 50;
  margin-bottom: 2rem;
}

.timer__div__inside {
  width: 100%;
  height: 0.5rem;
  background-color: #b05ec4;
  animation: infinite timerAnimation 5s ease-in;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.sidebar__search,
.sidebar__select {
  background-color: #f7eff9;
  border: transparent;
  border: 1px solid #b05ec4;
  border-radius: 0.25rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  color: #444;
}

.sidebar__div {
  display: flex;
  flex-direction: column;
}

.sidebar__heading {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 0.75rem;
  padding-top: 1rem;
  margin-bottom: 0.8rem;
  color: #444;
}
.category__btn {
  align-self: start;
  background: transparent;
  border: none;
  color: #666;
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin: 0.25em 0;
  padding: 0.25rem 0;
  text-transform: capitalize;
}

.colors__div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar__color__btn {
  border: 0;
  height: 1.4rem;
  opacity: 0.5;
  background-color: transparent;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.sidebar__color__btn__div {
  border: none;
  border-radius: 50%;
  height: 1.4rem;
  width: 1.4rem;
}

.sidebar__color__btn__all {
  border: none;
  color: #444;
}
.active__link {
  border-bottom: 1px solid #b05ec4;
}
.price__heading {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 0.75rem;
  padding-top: 1rem;
  color: #b05ec4;
}
.product__card__price {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 0.75rem;
  color: #b05ec4;
}
.sidebar__shipping__div {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.sidebar__clear__btn {
  background-color: #e81616;
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  width: 50%;
}

.products__page__section {
  padding-bottom: 9.6rem;
  padding-top: 5.2rem;
}

.products__page__div {
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
  gap: 5rem;
}

.product__card__img {
  border-radius: 0.25rem;
  display: block;
  margin-bottom: 0.6rem;
  object-fit: cover;
  width: 100%;
  height: 17.5rem;
}

.products__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.product__name__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__card__name {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 0.75rem;
  padding-top: 1rem;
  margin-bottom: 0.8rem;
  color: #444;
  text-transform: capitalize;
}

@keyframes timerAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .links__div {
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    justify-content: center;
    background-color: white;
  }
  .main__nav {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    transform: translate(100%, 0);
    transition: all ease 0.3s;
  }
  .sidebar__btn {
    display: block;
  }
  .x__icon {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .main__nav__mobile {
    transform: translate(0, 0);
  }
  .cart__div {
    font-size: 4rem;
    margin-top: 5rem;
  }
  .cart__div svg {
    width: 4rem;
    height: 4rem;
    align-self: center;
  }
  .cart__counter {
    background: #b05ec4;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 50%;
    width: 3rem;
    text-align: center;
    height: 3.8rem;
  }
}
